<form class="form-token-health" id="token-health" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label for="token-health-input">{{localize "TOKEN_HEALTH.Amount"}}</label>
        <input id="token-health-input" type="number" data-dtype="Number" name="amount" min="0" max="999"/>
          <p><small>{{localize "TOKEN_HEALTH.Dialog_Help"}}</small></p>
    </div>
</form>
